.playPause {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.VideoSection {
  position: relative;
}
.playPause button {
  background: rgb(52 50 50 / 75%);
  border: 1px solid transparent;
  color: #4da6ff;
  font-size: 2.6rem;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5rem;
  width: 5rem;
  height: 5rem;
  margin: auto;
}
.player {
  div {
    video {
      border-radius: 0.8rem;
    }
  }
}

.progressModals {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2.5rem;
  overflow-x: auto;
  scrollbar-width: none;
  margin-top: 30px;
}

.modelLogos {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hideArrow {
  display: none;
}

.progressbar {
  padding-top: 1.2rem;
  position: relative;
}
.rangeSlider {
  -webkit-appearance: none;
  margin-bottom: 10px;
  appearance: none;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
  background: linear-gradient(
    0deg,
    #274f8a 1.86%,
    rgba(22, 25, 85, 0.0311467) 22.24%,
    #000c28 103.75%
  );
  height: 10px;
  overflow: hidden;
}
.rangeSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 10px;
  width: 20px;
  background-color: linear-gradient(0deg, #00d7fb 1.86%, #006f82 22.24%, #00d7fb 103.75%);
  border-radius: 50%;
  background: #00c5e4;
  box-shadow: -600px 0 0 600px #00c5e4;
}
.hidden {
  visibility: hidden;
}
.TimeLine {
  display: flex;
  justify-content: space-between;
  color: #4da6ff;
}
.time1 {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.time {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  color: #4da6ff;
  margin-top: -10px;
  transform: translate(-50%, 0%);
}

@media screen and (max-width: 375px) {
  .playPause button {
    font-size: 1.8rem;
    width: 3.5rem;
    height: 3.5rem;
  }
}
