.sidebarConatiner {
  border-right: 1px dashed #4da6ff;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;

  .contentWrapper {
    margin-right: 20px;
  }
}
a {
  text-decoration: none;
  color: unset;
}
.clickAble {
  cursor: pointer;
}
.mainHeadingConatiner {
  margin-bottom: 1.8rem;
  padding-left: 2.4rem;
}
.mainHeading {
  font-size: 2rem;
}
.mainHeadBlue {
  color: #4da6ff;
}
.mainHeadGreen {
  color: #9fdddd;
}
.mainHeadYellow {
  color: #ffac1a;
}
.subHeading {
  display: flex;
  color: #4da6ff;
  font-size: 1.2rem;
  align-items: center;
  margin-top: 2rem;
}
.subHeading h4 {
  font-weight: bold;
}
.subHeadIcom {
  padding-right: 1.2rem;
}
.subHeadingText {
  padding-left: 2.4rem;
}
.subHeadingText p {
  margin-top: 1.3rem;
  font-weight: 300;
}
.QueshtionIcon {
  margin-top: 2rem;
}
.close {
  display: none;
}

@media screen and (max-width: 1200px) {
  .sidebarConatiner {
    padding-left: 4rem;

    .contentWrapper {
      margin-right: 80px;
    }
  }
  .close {
    display: block;
    background-color: transparent;
    border: none;
    font-size: 1.8rem;
    color: white;
    position: relative;
    top: 0;
    left: 40%;
  }
}
@media screen and (max-width: 560px) {
  .sidebarConatiner {
    width: 21rem;
  }
}
@media screen and (max-width: 560px) {
  .sidebarConatiner {
    width: 18.2rem;
  }
}
